<!doctype html>


<head>
    <title>Social Media Card Generator</title>
    <meta charset=utf-8>
</head>

<body>
    <h3>Enter URLs in separate lines below to generate social media cards.</h3>
    <p>In case of issues with the app, contact us: Gordon Pennycook, Hause Lin, Puneet Bhargava </p>
    <form action="/status/" method="POST">
        <textarea name="text" rows="20" cols="100"></textarea>
        <p name="status" id="status">{{message}}</p>
        <input type="submit" value="Start processing" />
    </form>

</body>
